.card-background-page {

    ion-card {
      position: absolute;
      text-align: center;
      
    }
  
    .card-title {
      position: absolute;
      text-align: center;
      top: 20%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
      text-shadow: 0px 1px rgba(8, 8, 8, 0.7882352941);
    }
  
    .card-subtitle {
        font-size: 70%;
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
        position: absolute;
        top: 37%;
        width: 100%;
        color: #fff;
        word-wrap: break-word;
        left: 7%;
        width: 85%;
        top: 35%;
        text-shadow: 0px 1px rgba(8, 8, 8, 0.7882352941);
      
    }
  
  }
.blur{
    filter: blur(0.5px);
  -webkit-filter: blur(0.5px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 1%);
  z-index: 0;
  width: 100%;
 opacity: 0.5;
  border-radius: 10px
  }

